{% extends 'base.html.twig' %}


{% block title %} Details {% endblock %}
{% block body %}

    <center>
        <table border="1" style="width: max-content;">
            <thead>
                <th> Ref </th>
                <th> Titre </th>
                <th> Description </th>
                <th> Date debut </th>
                <th> Date fin </th>
                <th> Nbre </th>
            </thead>
            <tbody>
                {% for item in formations %}
                    <tr>
                        <td> {{ item.ref}} </td>
                        <td> {{ item.Titre | upper }} </td>
                        <td> {{ item.Description}} </td>
                        <td> {{ item.date_debut}} </td>
                        <td> {{ item.date_fin}} </td>
                        <td> {{ item.nb_participants}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

    <p> Le  nombre des formations est : <b> {{ formations | length  }} </b>  </p>
{% endblock %}
